#navbar {
  background: white;
  width: 100%;
  height: 10%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
#navbar h1 {
  font-size: 200%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 55, 1) 4%,
    rgba(108, 18, 66, 1) 22%,
    rgba(229, 39, 78, 1) 42%,
    rgba(241, 137, 115, 1) 60%,
    rgba(156, 163, 139, 1) 77%,
    rgba(64, 191, 166, 1) 90%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  padding-left: 10%;
}
.logout-btn {
  margin-right: 10%;
  background-color: white;
  color: black;
  font-family: "Ubuntu", sans-serif;
  border: none;
  font-size: medium;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #edede9;
}

.terms {
  width: 70%;
  padding: 5rem 10rem;
  text-align: justify;
}
.terms .title {
  font-weight: bold;
}
.sectionSelector {
  background-color: rgb(212, 212, 212);
  width: fit-content;
  padding: 2rem;
}
.sectionSelector li {
  padding: 3px;
}
.sectionSelector li a {
  color: #000;
}
.sections .section {
  font-weight: bold;
}
